div.form
  label(for="title") Title:
  input(type="text", name="title" value=book.title)
div.form
  label(for="author") Author:
  input(type="text", name="author" value=book.author)
div.form
  label(for="genre") Genre:
  input(type="text", name="genre" value=book.genre)
div.form
  label(for="genre") Year:
  input(type="text", name="year" value=book.year)
div.form
  input.submit(type="submit")